* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html,
body {
  min-height: 100%;
}
body {
  background-color: black;
}
.top_nav {
  left: 56px;
  display: flex;
  position: fixed;
  width: 100%;
  height: 58px;
  align-items: center;
  background-color: black;
  z-index: 1;
}
.logo {
  flex-grow: 2;
  background-color: black;
}
.logo_img {
  cursor: pointer;
}

.textbox {
  flex-grow: 1.5;
  background-color: black;
}
.searchtext {
  width: 100%;
  height: 48px;
  color: white;
  background: none;
  border: none;
  outline: blue;
  line-height: 48px;
}
.search_btn {
  width: 40px;
  color: white;
  background-color: black;
  border: none;
}
.search_btn i {
  line-height: 48px;
  font-size: 30px;
}
.mic_btn {
  line-height: 48px;
  font-size: 25px;
  width: 40px;
  color: white;
  flex-grow: 0.3;
  background-color: black;
  cursor: pointer;
  border: none;
}
.blank_di {
  flex-grow: 1;
  width: 40px;
}
.ball_btn {
  color: white;
  line-height: 48px;
  font-size: 30px;
  background-color: black;
  flex-grow: 0.3;
  cursor: pointer;
  border: none;
}
.profile_btn {
  background-color: black;
  height: 48px;
  flex-grow: 0.3;
  padding: 0px 150px 0px 20px;
}
.profile_bt {
  display: none;
}

.profileimg {
  cursor: pointer;
}

.profile_head {
  position: fixed;
  display: none;
  top: 48px;
  right: 5%;
  line-height: 0;
  z-index: 1000;
}
/*리스트부분 스크롤 동작 추가*/
.profile_list {
  height: 80vh;
  overflow-y: scroll;
}
.profile_list ul {
  list-style: none;
}

.side_icon {
  cursor: pointer;
  background-color: black;
  position: fixed;
  font-size: 30px;
  margin-left: 10px;
  color: white;
  z-index: 1000;
  padding: 2px 8px 11px 8px;
}
.side_nav {
  position: fixed;
  display: block;
  list-style: none;
  left: 0px;
  top: 48px;
  z-index: 1;
  height: 100%;
  overflow-x: hidden;
}
.side_nav ul {
  background-color: black;
  color: white;
  height: 48px;
  width: 190px;
}
.side_nav li {
  height: 40px;
}

.side_nav::-webkit-scrollbar {
  display: none;
}
.off_nav::-webkit-scrollbar {
  display: none;
}
.profile_list::-webkit-scrollbar {
  display: none;
}
.logo_img2 {
  position: fixed;
  left: 56px;
  top: 3px;
}
#side_btn {
  display: none;
}

.off_nav {
  position: fixed;
  display: none;
  list-style: none;
  left: 0px;
  top: 48px;
  z-index: 100;
  height: 100dvh;
  overflow-x: hidden;
  background-color: black;
}
.off_nav ul {
  background-color: black;
  color: white;
  height: 48px;
  width: 190px;
}
.off_nav li {
  height: 40px;
}
.closer {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 10;
}
.closerp {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 10;
}

#side_btn:checked ~ .off_nav {
  display: block;
}
#side_btn:checked ~ .closer {
  display: block;
}

#profile_bt:checked ~ .closerp {
  display: none;
}

.cards {
  position: absolute;
  left: 200px;
  right: 40px;
  top: 48px;
  max-width: 100%;
  display: grid;
  margin: 1em auto;
  grid-template-columns: repeat(auto-fill, minmax(410px, 1fr));
  grid-template-rows: minmax(100px);
  grid-gap: 10px;
}
.card {
  border: 1px solid #999;
  border: none;
  background-color: black;
}
.card a {
  text-decoration: none;
  color: white;
}

/*구하는 섬네일과 영상의 크기를 맞춰야 동일한 비율로 같은 범위에 출력되서 좋을거같다*/
.card img {
  object-fit: cover;
  width: 100%;
  height: minmax(400px, 1fr);
  aspect-ratio: 1.77 / 1;
  border-radius: 15px;
}
.card video {
  display: none;
  object-fit: cover;
  width: 100%;
  height: minmax(400px, 1fr);
  aspect-ratio: 1.77 / 1;
}
.content1 img {
  height: 40px;
  width: 40px;
}
.content1 {
  display: flex;
  margin-top: 5px;
}

.content2 {
  flex-direction: row;
  flex-grow: 1;
}
.content2 p {
  color: gray;
}
.content3 {
  text-align: center;
  width: 30px;
}

.card a:hover > img {
  display: none;
}
.card a:hover > video {
  display: block;
  margin-bottom: 10px;
}

.player {
  position: absolute;
  display: grid;
  left: 20px;
  right: 20px;
  top: 60px;
  max-width: 100%;
  grid-template-columns: 1fr 450px;
  grid-template-rows: minmax(300px, auto) minmax(0px, auto) minmax(0px, auto) 1fr;
}
.video {
  aspect-ratio: 16 / 9;
  margin-right: 20px;
}
.info {
  display: none;
  margin-right: 20px;
  color: white;
}

.infoflex {
  display: flex;
}

.infot {
  font-size: 30px;
}
.infobtlist {
  width: 100%;
  display: flex;
  flex-basis: 0;
  align-items: center;
}
.infobtlists1 {
  display: flex;
  flex-grow: 1;
  gap: 10px;
  align-items: center;
}
.infoname {
  font-size: 24px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 1;
  text-overflow: ellipsis;
}
.infonum {
  font-size: 16px;
}
.feedbtn {
  height: 36px;
  width: 58px;
  border-radius: 18px;
  border: none;
  cursor: pointer;
}
.infobtlists2 {
  display: flex;
  align-items: center;
  justify-content: end;
  flex-grow: 1;
}
.likebtn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 36px;
  width: 73px;
  overflow: hidden;
  border: none;
  margin-left: 5px;
  border: none;
  border-radius: 20px 0 0 20px;
  cursor: pointer;
}
.likebtn i {
  font-size: 22px;
}
.hatebtn {
  height: 36px;
  width: 50px;
  font-size: 22px;
  border: none;
  border-radius: 0 20px 20px 0;
  cursor: pointer;
}
.sharebtn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 36px;
  width: 82px;
  margin-left: 5px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

.downbtn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 36px;
  width: 136px;
  margin-left: 5px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}
.eclbtn {
  height: 36px;
  width: 36px;
  margin-left: 5px;
  border: none;
  border-radius: 50%;
  font-size: 22px;
  cursor: pointer;
}

.infotext {
  display: none;
  margin-right: 20px;
  color: white;
}

.infotext a {
  text-decoration: none;
  color: cornflowerblue;
}

.comment {
  margin-right: 20px;
}
.commentinput {
  margin-right: 20px;
}

.commentimg {
  float: left;
  vertical-align: top;
}
.commenttext {
  vertical-align: top;
  margin-left: 5px;
  width: 85%;
  font-size: 18px;
  background-color: black;
  resize: none;
  color: white;
  outline: none;
  border: none;
  overflow: hidden;
  border-bottom: 2px solid gray;
}
.commenttext:focus {
  border-bottom: 2px solid white;
}

.commentbt {
  text-align: end;
  margin-left: 60px;
  width: 85%;
  left: 20px;
}

.commentlist {
  margin-top: 20px;
  list-style: none;
}

.rimg {
  float: left;
}

.rdiv {
  color: white;
  float: right;
  margin-right: 45px;
}
.rp {
  margin-left: 52px;
  width: 82%;
  overflow-wrap: break-word;
  color: white;
}

.commentul2 li img {
  float: left;
}
.commentul2 li p {
  margin-left: 52px;
  width: 82%;
  overflow-wrap: break-word;
  color: white;
}
.commentul2 li div {
  color: white;
  float: right;
  margin-right: 45px;
}

.playlist {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 5;
  overflow: hidden;
}
.play_item {
  margin-bottom: 20px;
  height: 125px;
}

.playlist_img {
  float: left;
  height: 115px;
  width: 204px;
}
.playlist_video {
  float: left;
  height: 120px;
  width: 204px;
  margin-top: -3px;
}
.playlist_text1 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  font-size: 14px;
  height: 42px;
  color: white;
}
.playlist_text2 {
  font-size: 12px;
  height: 28px;
  overflow: hidden;
  color: white;
}
.playlist_text3 {
  font-size: 12px;
  height: 24.5px;
  overflow: hidden;
  color: white;
}
.playlist_video {
  display: none;
}

.play_item:hover > img {
  display: none;
}
.play_item:hover > video {
  display: block;
}

@media screen and (max-width: 1300px) {
  .downbtn {
    display: none;
  }
}
@media screen and (max-width: 780px) {
  .searchtext {
    display: none;
  }
  .logo {
    flex-grow: 1;
  }
  .textbox {
    flex-grow: 0;
  }
  .search_btn {
    flex-grow: 1;
  }
  .mic_btn {
    flex-grow: 1;
  }
  .ball_btn {
    flex-grow: 1;
  }
  .profile_btn {
    flex-grow: 1;
  }
  .side_nav {
    display: none;
  }
  .cards {
    left: 20px;
    right: 20px;
  }
  .blank_di {
    display: none;
  }
  .player {
    grid-template-columns: 100%;
  }
  .infobtlists2 {
    display: none;
  }
  .video {
    margin-right: 0px;
  }
  .info {
    margin-right: 0px;
  }
  .infotext {
    margin-right: 0px;
  }
  .comment {
    margin-right: 0px;
  }
}
.infoblock {
  display: block;
}
